@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-xxl flex-grow-1 container-p-y">

    <div class="card mt-3">
        <h5 class="card-header">Destinations</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Destination</th>
                        <th>Comment</th>
                        <th>Date</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CommentId</td>
                            <td>@item.CommentUser</td>
                            <td>@item.Destination.City</td>
                            <td>@item.CommentContent</td>
                            <td>@item.CommentDate.ToString("g")</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="btn btn-info dropdown-item" asp-area="Admin"  asp-controller="Comment" asp-action="" asp-route-id="@item.CommentId"><i class="bx bx-search-alt me-1"></i> Detail</a>
                                        <a class="btn btn-danger dropdown-item" asp-area="Admin" asp-controller="Comment" asp-action="" asp-route-id="@item.CommentId"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
          
        </div>
    </div>
</div>
