@model List<Reservation>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var count = 0;
}



<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header text-center pb-3">
                    <h6 class="font-weight-bolder">My Approval Reservation</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-2">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="">#</th>
                                    <th class="">Destination</th>
                                    <th class="">Person Count</th>
                                    <th class="">Reservation Apply Date</th>
                                    <th class="">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Destination.City</td>
                                        <td>@item.PersonCount</td>
                                        <td class="p-2">@item.ReservationDate</td>
                                        <td><span class="btn btn-info">@item.Status</span></td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

