@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "GetCitiesSearchByName";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    var count = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Destinations</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text text-center">Here you can view all destinations If you want more information you can visit out detail page.</p>
                    <form asp-action="GetCitiesSearchByName" asp-area="Member" method="get">
                        <div class="form-group mt-4">
                            <input type="text" class="form-control" style="display:inline-block; width: 20%;"
                                   name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Please enter city name for searching:">
                            <input type="submit" value="Search City" class="btn btn-outline-warning" style="display:inline-block; width: 150px;" />
                    </div>
                    </form>
                    <div class="table-responsive mt-5">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="">#</th>
                                    <th class="">City</th>
                                    <th class="">Day Nigth</th>
                                    <th class=" p-2">Capacity</th>
                                    <th class="">Price</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.City</td>
                                        <td>@item.DayNight</td>
                                        <td class="p-2">@item.Capacity</td>
                                        <td>@item.Price ₺</td>
                                        <td><a asp-controller="Destination" asp-action="DestinationDetail" asp-route-id="@item.DestinationID" class="btn btn-success">Detail</a></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

